@import "../../scss/styles.scss";

.recipe-container {
  position: relative;
  width: 100%;
  margin: 4rem 0;
}

.image {
  background-image: url("https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  background-position: center;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  width: 70%;
  margin: 0 auto;
  height: 450px;
}

.recipe-header {
  display: flex;
}

.recipe-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  background: #fff;
  color: #000;
  position: absolute;
  top: 70%;
  left: 25%;
  z-index: 2;
}

@media #{$media-tablet} {
  .recipe-container {
    margin: 3rem 0;

    & .image {
      width: 100%;
    }

    & .recipe-content {
      width: 75%;
      left: 15%;
    }

    & .recipe-description,
    & .recipe-header {
      font-size: 0.7rem;
    }
  }
}
