@import "../../scss/styles.scss";

.errors-container {
  height: 10px;
  width: 75%;
  margin: 0 auto;
  font-size: 0.71rem;
}

@media #{$media-tablet} {
  .errors-container {
    font-size: 0.9rem;
  }
}
