hr.hr-4 {
  padding: 0;
  border: none;
  border-top: medium double #8c8c8c;
  color: #8c8c8c;
  text-align: center;
  background-color: #fff;
  margin: 80px;

  &::after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #fff;
  }
}

hr.hr-16 {
  border: 0;
  border-top: 1px dashed #8c8c8c;
  text-align: center;
}

hr.hr-16:after {
  content: "\002702";
  display: inline-block;
  position: relative;
  top: -13px;
  padding: 0 3px;
  background: #fff;
  color: #8c8c8c;
  font-size: 18px;
}
